<!DOCTYPE html>
<html>
<head>
  <title>MidtermPartC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= image_tag("olympic_rings.png", { :class => "olympic-rings" }) %>
<%= yield %>

</body>
</html>
